In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mlt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler,OrdinalEncoder,OneHotEncoder

In [9]:
client_data = pd.read_csv("Final_Upwork_Dataset.csv")

In [10]:
client_data.head()

,Job Title,Job_URL,EX_level_demand,Time_Limitation,Search_Keyword,Posted_from,Description,Category1_URL_search,Category_1,highlight,...,Client_Country,Connects_Num,New_Connects_Num,Rating,Feedback_Num,Payment_type,Job_Cost,Hourly_Rate,Start_rate,End_rate
0,Power bi specialist freelance,https://www.upwork.com/jobs/Power-specialist-f...,Expert,NaN,Data_science,5 minutes ago,Already data pooled and designed. Need to refi...,https://www.upwork.com/nx/jobs/search/?ontolog...,Data Analysis,data,...,United States,6.0,12.0,NaN,0.0,Fixed-price,"$2,500",NaN,0,NaN
1,Case Study (on-demand delivery startup),https://www.upwork.com/jobs/Case-Study-demand-...,Intermediate,NaN,Data_science,5 minutes ago,"Hi,\n\nWould you be able to help me do a case-...",https://www.upwork.com/nx/jobs/search/?ontolog...,Google Data Studio,Google Data Studio,...,Canada,4.0,8.0,5.000000,1.0,Fixed-price,$200,NaN,0,NaN
2,"File Maker Pro Reports, Charts, Query and Ongo...",https://www.upwork.com/jobs/File-Maker-Pro-Rep...,Intermediate,"3 to 6 months, Less than 30 hrs/week",Data_science,9 minutes ago,NITIAL PROJECT\n\nSet up Monthly Report mimick...,https://www.upwork.com/nx/jobs/search/?ontolog...,Report Writing,NaN,...,United States,6.0,12.0,5.000000,1.0,Hourly,NaN,$40.00,40,NaN
3,Implementation of EleutherAI/gpt-neox-20b,https://www.upwork.com/jobs/Implementation-Ele...,Expert,"3 to 6 months, Less than 30 hrs/week",Data_science,12 minutes ago,"As a first step, you will implement the instal...",https://www.upwork.com/nx/jobs/search/?ontolog...,Machine Learning Model,NaN,...,Canada,6.0,12.0,4.935536,26.0,Hourly,NaN,$35.00-$100.00,$35.00,$100.00
4,BI and Data Engineer for Upwork Finance System...,https://www.upwork.com/jobs/and-span-Data-span...,Expert,"More than 6 months, 30+ hrs/week",Data_science,14 minutes ago,The Upwork Finance Systems team is looking for...,https://www.upwork.com/nx/jobs/search/?ontolog...,Data Analysis,Data,...,United States,6.0,12.0,4.942242,12512.0,Hourly,NaN,NaN,0,NaN

In [11]:
client_data.shape

(63950, 41)

In [12]:
client_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63950 entries, 0 to 63949
Data columns (total 41 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Job Title             63948 non-null  object
 1   Job_URL               63949 non-null  object
 2   EX_level_demand       56935 non-null  object
 3   Time_Limitation       23034 non-null  object
 4   Search_Keyword        63949 non-null  object
 5   Posted_from           63913 non-null  object
 6   Description           63948 non-null  object
 7   Category1_URL_search  63505 non-null  object
 8   Category_1            63505 non-null  object
 9   highlight             50131 non-null  object
 10  Category2_URL_search  59889 non-null  object
 11  Category_2            59889 non-null  object
 12  Category3_URL_search  54997 non-null  object
 13  Category_3            54997 non-null  object
 14  Category4_URL_search  47543 non-null  object
 15  Category_4            47543 non-null  object
 16  Category5_URL_search  39578 non-null  object
 17  Category_5            39578 non-null  object
 18  Category6_URL_search  31307 non-null  object
 19  Category_6            31307 non-null  object
 20  Category7_URL_search  25192 non-null  object
 21  Category_7            25192 non-null  object
 22  Category8_URL_search  20436 non-null  object
 23  Category_8            20436 non-null  object
 24  Category9_URL_search  16481 non-null  object
 25  Category_9            16481 non-null  object
 26  Applicants_Num        63949 non-null  object
 27  Payment_Situation     63949 non-null  object
 28  Enterprise_Client     53 non-null     object
 29  Freelancers_Num       63950 non-null  int64
 30  Spent($)              62304 non-null  float64
 31  Client_Country        63825 non-null  object
 32  Connects_Num          63949 non-null  float64
 33  New_Connects_Num      63949 non-null  float64
 34  Rating                30593 non-null  float64
 35  Feedback_Num          63949 non-null  float64
 36  Payment_type          63949 non-null  object
 37  Job_Cost              20113 non-null  object
 38  Hourly_Rate           26570 non-null  object
 39  Start_rate            63949 non-null  object
 40  End_rate              25963 non-null  object
dtypes: float64(5), int64(1), object(35)
memory usage: 20.0+ MB

In [13]:
client_data.isnull().sum()

Job Title                   2
Job_URL                     1
EX_level_demand          7015
Time_Limitation         40916
Search_Keyword              1
Posted_from                37
Description                 2
Category1_URL_search      445
Category_1                445
highlight               13819
Category2_URL_search     4061
Category_2               4061
Category3_URL_search     8953
Category_3               8953
Category4_URL_search    16407
Category_4              16407
Category5_URL_search    24372
Category_5              24372
Category6_URL_search    32643
Category_6              32643
Category7_URL_search    38758
Category_7              38758
Category8_URL_search    43514
Category_8              43514
Category9_URL_search    47469
Category_9              47469
Applicants_Num              1
Payment_Situation           1
Enterprise_Client       63897
Freelancers_Num             0
Spent($)                 1646
Client_Country            125
Connects_Num                1
New_Connects_Num            1
Rating                  33357
Feedback_Num                1
Payment_type                1
Job_Cost                43837
Hourly_Rate             37380
Start_rate                  1
End_rate                37987
dtype: int64

In [16]:
client_data.dtypes

Job Title          object
Description        object
Category_1         object
Category_2         object
Category_3         object
Category_4         object
Category_5         object
Category_6         object
Category_7         object
Category_8         object
Category_9         object
Job_Cost           object
Client_Country     object
Rating            float64
dtype: object

In [17]:
client_data.describe()

             Rating
count  30593.000000
mean       4.823875
std        0.418398
min        1.000000
25%        4.842153
50%        4.975717
75%        5.000000
max        5.000000