Featues Engineering

In [9]:
import pandas as pd
import numpy as np

In [10]:
df= pd.read_csv("client_data.csv")

In [11]:
df.head()

,client_id,Job Title,Description,Merged_Category,EX_level_demand
0,1,Power bi specialist freelance,Already data pooled and designed. Need to refi...,"Data Analysis, Data Visualization, Microsoft P...",Expert
1,2,Case Study (on-demand delivery startup),"Hi,\n\nWould you be able to help me do a case-...","Google Data Studio, SQL, Tableau, Microsoft Ex...",Intermediate
2,3,"File Maker Pro Reports, Charts, Query and Ongo...",NITIAL PROJECT\n\nSet up Monthly Report mimick...,"Report Writing, Custom Graphics",Intermediate
3,4,Implementation of EleutherAI/gpt-neox-20b,"As a first step, you will implement the instal...","Machine Learning Model, Machine Learning, Python",Expert
4,5,BI and Data Engineer for Upwork Finance System...,The Upwork Finance Systems team is looking for...,"Data Analysis, Looker, SQL, Snowflake, Account...",Expert

In [4]:
# For "Job Title"
df['job_title_length'] = df['Job Title'].apply(len)
df['job_title_word_count'] = df['Job Title'].apply(lambda x: len(x.split()))

In [5]:
# For "Description"
df['description_length'] = df['Description'].apply(len)
df['description_word_count'] = df['Description'].apply(lambda x: len(x.split()))

In [8]:
# Feature: Count the number of categories/skills
df['merged_category_count'] = df['Merged_Category'].apply(lambda x: len(str(x).split(',')) if isinstance(x, str) else 0)


# Create dummy variables for each category.
# The get_dummies method here uses comma as the separator.
df_categories = df['Merged_Category'].str.get_dummies(sep=',')
# Optionally, remove extra spaces from column names
df_categories.columns = [col.strip() for col in df_categories.columns]
# Join these new features back to the original DataFrame
df = pd.concat([df, df_categories], axis=1)

In [12]:
print(df.isnull().sum())

client_id            0
Job Title            0
Description          0
Merged_Category    366
EX_level_demand      0
dtype: int64